/* Vendor styles & stuff. Make sure reset is at the top to get rid of default styles */
@require 'vendor/reset.styl'
@require 'vendor/prism-okaidia.styl'
// Changing colorschemes for syntax highlighting
// Light
@media (prefers-color-scheme light)
  @require 'vendor/prism-duotone-light.styl'
// Dark
@media (prefers-color-scheme dark)
  @require 'vendor/prism-base16-monokai.dark.styl'

/* Import our fonts (need this at the top-level as everything else will require this) */
@require 'foundation/fonts.styl'

/* Colors */
@require 'abstracts/_variables.styl'
@require 'abstracts/_mixins.styl'

/* Global stylesheet */
@require 'foundation/typography.styl'
@require 'foundation/links.styl'
@require 'foundation/table.styl'

/* Components! */
@require 'components/buttons.styl'
@require 'components/posts.styl'
@require 'components/sidebar.styl'

/* Layout components & the like */
@require 'layouts/body.styl'
@require 'layouts/container.styl'
@require 'layouts/home.styl'
@require 'layouts/navbar.styl'
@require 'layouts/postlist.styl'
@require 'layouts/footer.styl'
@require 'layouts/post.styl'
