<style scoped>
@media (prefers-color-scheme: light) {
  #logo {
    filter: invert(0%) sepia(95%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(105%);
  }
}
  @media (prefers-color-scheme: dark) {
  #logo {filter: invert(0%) sepia(95%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(105%);}
}
</style>
<div class="sidebar">
  {% block sidebar_title %}
  <div class="title">
    <a href="/home"><img id="icon" src="/static/icons/kaex.png"/></a>
    <h5>{{description}}</h5>
    <p> 🦌️ 💜 🖤 🎶 🎸 </p>
  </div>
  {% endblock sidebar_title %}
  {% block sidebar_links %}
  <nav class="nav">
    <ul class="links">
      {% for link in collections.nav %}
        <li{% if link.url == post.url %} aria-current="page"{% endif %} class="sidebar__link">
          <a href={{link.url}}>
            {{link.data.title}}
          </a>
        </li>
      {% endfor %}
      <li{% if link.url == post.url %} aria-current="page"{% endif %} class="sidebar__link"><a href="/pages/page-list">Meta</a></li>
    </ul>
  </nav>
  {% endblock sidebar_links %}
</div>

