text_scale_size(exponent)
  font-size (round(mobile_text_scale ** exponent * 1000) / 1000)

  @media screen and (min-width breakpoints.sm)
    font-size (round(desktop_text_scale ** exponent * 1000) / 1000)

-ease-transition($property)
  transition $property .2s ease 
  -webkit-transition $property .2s ease
  -moz-transition $property .2s ease
  -o-transition $property .2s ease
  transition $property .2s ease