/* New epic colorscheme that desperately needs changing */
fogra29 = #04151f
fogra39 = #030e14
dimgray = #6b6d76
grullo = #a69888
rose = #a04668
melon = #fcbfb7
charcoal = #334e58
midbluegreen = #7fd1b9
sky = rgb(186, 218, 220)
jaundica = #ffee6d
blush = #fceeee

background-primary = #1d1d1d
background-secondary = #fafafa

text-primary = blush
text-secondary = fogra29

link-primary = rose
link-visited = grullo
link-hover = melon

default_radius = 0.25rem
display_font = 'Source Code Pro',  Helvetica, 'Segoe UI', 'Apple Color Emoji', monospace // Github's system font stack
sans_font = 'FF Tisa Sans', 'Segoue UI', 'Apple Color Emoji', arial, sans-serif
mono_font = Fira Mono, 'Apple Color Emoji', monospace
serif_font = Tahoma, Bitstream Vera Sans, serif

breakpoints = {
  sm: 414px,
  md: 628px,
  lg: 1024px,
  xl: 1280px,
}

desktop_text_scale = 1.200rem
mobile_text_scale = 1.125rem
