/* New epic colorscheme that desperately needs changing */
fogra29 = #04151f
fogra39 = #030e14
dimgray = #6b6d76
grullo = #a69888
rose = #a04668
melon = #fcbfb7
charcoal = #334e58
blush = #fceeee

background-primary = fogra29
background-secondary = blush

text-primary = blush
text-secondary = fogra29

link-primary = rose
link-visited = grullo
link-hover = melon

default_radius = 0.25rem
default_font = -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; // Github's system font stack

breakpoints = {
  sm: 320px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
}

desktop_text_scale = 1.200rem
mobile_text_scale = 1.125rem
