---
title: You should not have come here.
permalink: 404.html
---

<h1> {{ title }} </h1>
<pre class="">
   _._     _,-'""`-._
    (,-.`._,'(       |\`-/|
        `-.-' \ )-`( , o o)
    -bf-      `-    \`_`"'-
</pre>
