---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% include 'header.njk' %}

<main>
  <article>
    <section class="markdown_content">
      <h2> {{description}} </h2>
      {{ content | markdown | safe }}
      <p>Go <a href=javascript:void(0) onClick="window.history.back()"> back </a></p>
    </section>
    {% include 'backlinks.njk' %}
  </article>
</main>

{% include 'footer.njk' %}
