footer
  border-top 1px grullo solid
  display inline-flex
  flex-direction column
  margin .2em
  justify-content space-around
  width 100%
  @media only screen and (max-width breakpoints.sm)
    flex-direction column
  > p
    line-height 1.2
    padding-left .2em
    padding-right .6em
  hr
    padding-top 6px
    margin-top .6em
  img
    width 12%
    object-fit cover
    padding .6rem
    @media only screen and (max-width breakpoints.sm)
      overflow hidden
      display none
  .top
    display flex
    flex-direction row
  .content
    @media only screen and (max-width breakpoints.sm)
      flex-direction column
    flex-direction row
    margin .8rem
  .site_info
    display flex
    margin .8rem
    align-items center
    justify-content space-evenly
    &__inner
      justify-content space-evenly
    .links
      display flex
      flex-direction column
      &>a
        padding .2rem
    .row
      display flex
      flex-direction row
    .column
      margin-right 12px
      margin-left 12px
      display flex
      flex-direction column
