.home
  position relative
  display flex
  flex-direction column
  width 100%
  padding-left 6rem
  padding-right 6rem
  @media only screen and (max-width breakpoints.sm)
    padding-left 2px
    padding-right 2px
img
  max-width 62%
  max-height 67%