.home
  display flex
  flex-direction column
  margin-left 2.5rem
  margin-right 2.5rem
  .title
    background-image: linear-gradient(to right, rgba(255,0,0,0), rose);
    top 20
    gap 2
    padding 2px
    border-block solid fogra29 2px
    writing-mode horizontal-tb
    border-radius round(5.5px 12px)
  @media only screen and (max-width breakpoints.sm)
    padding-left 2px
    padding-right 2px
img
  max-width 62%
  max-height 67%