header {
  border-bottom 1px solid grullo
  margin-bottom 12px
  .nav {
    padding 8px
  }
  .title {
    display flex
    flex-direction row
    gap 12px
  }
  .navbar {
    padding-bottom 1rem
  }
}
