header {
  border-bottom 1px solid grullo
  margin-bottom 12px
  .nav {
    display flex
    flex-direction row
    align-content center
    @media only screen and (max-width breakpoints.lg) {
      flex-direction column
    }
    &__title {
      display flex
      flex-direction row
      align-items center
    }
    &__links {
      display flex
      flex-direction row
      flex-wrap wrap
      align-items center
      justify-content center
      &>.sidebar__link {
        padding 8px
      }
    }
  }
}
