header
  border-bottom 1px solid grullo
  margin-bottom 12px
  .nav
    display flex
    align-items center
    justify-content space-between
    @media only screen and (max-width breakpoints.md)
      flex-direction column
    &__title
      display flex
      flex-direction row
      align-items center
    &__links
      overflow scroll
      scroll-snap-type y mandatory
      display flex
      padding-left 0
      flex-direction row
      &>.sidebar__link
        padding 8px
    &__taglist
      overflow-x hidden
      scroll-snap-type y mandatory
      scroll-behavior smooth
      &__button
        scroll-snap-align start
        margin-bottom 10px
        object-fit cover
