{% block footer %}
<footer>
  {% block footer_text %}
  <p> ily pls love me </p>
  <p> copyright doesnt exist • <em>kaelta @ 2022</em> </p>
  {% endblock footer_text  %}
</footer>
{% endblock footer %}
