<footer>
  <div class="top">
    <div class="content">
    {%- if collections.posts %}
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if nextPost or previousPost %}
        <div>
        <ul>
          {%- if nextPost %}<li>Next :: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
          {%- if previousPost %}<li>Previous :: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
        </ul>
        </div>
        {%- endif %}
      {%- endif %}
    </div>
    <div class="content">
      {%- if updated_at %}
        <span class="post-date">updated at: {{ updated_at }}</span>
      {%- endif %}
      {% block footer_text %}
      {% endblock footer_text  %}
    </div>
  </div>
  <div class="site_info">
    <div>
      <div class="row">
        <img src="/static/icons/wyrm-black.png"/>
        <a class="" href="https://webring.xxiivv.com/#188" target="_blank">
          <img src="https://webring.xxiivv.com/icon.black.svg" alt="XXIIVV webring"/>
        </a>
        <div class="column">
          <script>
          window.onload = () => {
            const date = new Date().getFullYear();
            document.getElementById('year').innerHTML = date;
          }
          </script>
          <h6> Kaeforest &copy; <span id="year"/> </h6>
          <small> All at the behest of Kae. </small>
          <small> Site crafted with <a href="https://foambubble.github.io">[[foam]]</a> and 11ty. </small>
          <small> Copyright is a spook. 👻 oooh spooky~ </small>
        </div>
      </div>
      </div>
      <div class="row">
        <ul class="links">
          <a href="https://gitlab.com/kaelta/kaeforest">src code</a>
          <a href="https://twitter.com/@kaelta"> twt </a>
          <a href="https://webring.xxiivv.com/kaeforest" target="_blank">
            webring <img style="stroke-width: 1px;" src="https://xxiivv.com/media/vectors/webring.svg" alt="XXIIVV webring"/>
          </a>
          <a href="https://write.as/mothra"> write.as </a>
        </ul>
      </div>
    </div>
  </div>
</footer>
