<header class="navbar">
  <nav class="nav">
    <h4 class="title">
      안식처 <a href="/home"> {{title}} </a>
    </h4>
    {% for tag in collections.tagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
  </nav>
</header>
