<header class="navbar">
  <nav class="nav">
    <h4 class="nav-item"> 소피 {{title}} </h4>
    <a class="nav-item" href="/pages/about"> about </a>
    <a class="nav-item" href="/pages/contact"> contact </a>
    <a class="nav-item" href="/pages/archive"> archive </a>
  </nav>
</header>
