<header class="navbar">
  <nav class="nav">
    <h4 class="nav-item"> {{ title }} </h4>
    <a class={% if window.current.active %}"nav-item__active"{% else %}"nav-item"{% endif %} href="/about"> about </a>
    <a class="nav-item" href="/contact"> contact </a>
    <a class="nav-item" href="/ftp"> ftp </a>
  </nav>
</header>