<style>
@media (prefers-color-scheme: light) {
  #logo {color: black}
}
@media (prefers-color-scheme: dark) {
  #logo {color: white}
}
</style>
<div class="sidebar">
  {% block sidebar_title %}
  <img id="logo" src="/static/icons/gemini-life.svg"/>
  <div class="title">
    <h5>{{description}}</h5>
    <p> 🦌️ 💜 🖤 🎶 🎸 </p>
    <hr/>
  </div>
  {% endblock sidebar_title %}
  {% block sidebar_links %}
  <nav class="nav">
    <ul class="links">
      {% for link in collections.nav %}
        <li{% if page.url == post.url %} aria-current="page"{% endif %} class="sidebar__link"><a href={{link.url}}>{{link.data.title}}</a></li>
      {% endfor %}
      <li{% if page.url == post.url %} aria-current="page"{% endif %} class="sidebar__link"><a href="/pages/page-list">Pages</a></li>
    </ul>
  </nav>
  {% endblock sidebar_links %}
</div>
