@media (prefers-color-scheme dark)
  footer_top_color = blush

@media (prefers-color-scheme light)
  footer_top_color = grullo

footer
  border-top 1px grullo solid
  display flex
  flex-direction row
  margin .6em
  > p
    line-height 1.2
    padding-left .2em
    padding-right .2em
  hr
    padding-top 6px
    margin .6em

