/* Nav */
.nav {
  float left
  list-style none
  margin-left 1em
  order 0 // Top level component
  padding 0
}
.nav-item {
  display inline-block
  margin-right 1em
}
.nav-item a[href]:not(:hover) {
  text-decoration none
}
.nav-item-active {
  font-weight 700
  text-decoration underline
}

