.sidebar {
  display flex
  flex-direction row
  order 0
  margin 2em
  text-align center
  justify-content space-between
  border-bottom solid 2px fogra29
  @media only screen and (max-width breakpoints.lg) {
    flex-direction column
  }
  /* Now for the two main components */
  .title {
    max-width 460px
    flex-wrap wrap
    #icon {
      min-width 240px
    }
  }
  /* For the links on the side / bottom */
  .nav {
    margin auto
    width 100%
    display flex
    flex-direction row
    flex-wrap wrap
    .links {
      display flex
      flex-direction row
      flex-wrap wrap
      padding-left 0
      li {
        @media only screen and (max-width breakpoints.md) {
          border-bottom none
        }
        @media only screen and (max-width breakpoints.sm) {
          &:before {
            content none
          }
        }
        margin .65rem
        &>a[href] {
          color sky
          -ease-transition(color)
          color charcoal
          &:hover {
            color midbluegreen
          }
        }
        &:after {
          content none
        }
      }
    }
  }
}

