-spacing(scale) {
  margin-top 1.65 * scale
  margin-bottom 1.65 * scale
  padding-top 1.65 * scale
  padding-bottom 1.65 * scale
}

.sidebar {
  display flex
  flex-direction column
  text-align center
  height 100%
  order 0
  margin-left 1rem
  margin-right 1rem
  text-align center
  align-items center
  justify-content space-around
  align-content center
  /* Now for the two main components */
  .title {
    width 100%
    margin auto
    text-align center
    align-items center
    .icon {
      img {
        @media only screen and (max-width breakpoints.sm) {
          display none
        }
        padding-top 4ch
        width max(9vw, 260px)
      }
    }
    hr {
      color grullo
    }
  }
  /* For the links on the side / bottom */
  .nav {
    margin auto
    align-content center
    width 100%
    display flex
    align-items center
    flex-direction row
    .links {
      margin auto
      display flex
      flex-direction row
      border 2px grullo
      li {
        -spacing(2)
        @media only screen and (max-width breakpoints.md) {
          border-bottom none
        }
        @media only screen and (max-width breakpoints.sm) {
          &:before {
            content none
          }
        }
        margin .65rem
        padding 0.2em
        &>a[href] {
          color sky
          -ease-transition(color)
          @media (prefers-color-scheme light) {
            color charcoal
          }
          &:hover {
            color midbluegreen
          }
        }
        &:before {
          content ""
        }
      }
    }
  }
}

