---
title: Elith
description: An introspection on a new sociecital change
layout: layouts/base.njk
---

<style>
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	list-style: none;
	border-collapse: separate;
	border-spacing: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: black;
}

wallpaper {
	background-image: url("/static/img/architect.jpg");
  filter: brightness(40%);
	background-size: cover;
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	transition: all 2000ms
}

menu {
	position: absolute;
	top: calc(50vh - 100px);
	left: calc(50vw - 100px);
	padding: 60px 30px;
	border-radius: 3px;
	z-index: 100;
}

menu #elith__logo {
	transition: all 4000ms;
}

#elith__footer {
	position: absolute;
	z-index: 100;
	bottom: 15px;
	right: 20px;
	transition: all 4000ms
}

#elith__footer img {
	width: 30px;
	margin-left: 0px;
}

#elith__footer img:hover {}

div {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
	font-size: 11px;
	color: #666;
}

div a {
	text-decoration: underline;
}

.separator {
  height: 100vw;
  position: fixed;
}
</style>

{% block header %}
<wallpaper id="bg"></wallpaper>
<menu>
  <a id="elith__logo" href="#">
    <img style="width: 160px; text: white;" src="/static/icons/2ndgemini-life.svg"/>
  </a>
</menu>
<div id="elith__footer">
  <a target="_blank" href="https://kae.si">
    <img style="width: 90px;" src="/static/icons/wyrm.svg"/>
  </a>
  <a target="_blank" href="https://kae.si">
    <img style="width: 90px;" src="/static/icons/spiral.svg"/>
  </a>
</div>
{% endblock header %}

<div class="separator"></div>
<audio autoplay loop>
  <source src="/static/media/ambience.wav">
</audio>

<noscript>
  <a href="https://kae.si"> Continue to site. </a>
</noscript>
  