/* Base dark theme
  mixin pulled from ./abstracts/_colors.styl */

body,
html,
:root {
  @media (prefers-color-scheme dark) {
    background-color background-primary
    color text-primary
  }
  @media (prefers-color-scheme light) {
    background-color #fafafa
    color fogra29
  }
  font-family Fira Mono, monospace
}

* {
  box-sizing: border-box;
}

main {
  @media only screen and (max-width: breakpoints.md) {
    flex-direction column-reverse
  }
  display flex
  flex-direction row
  order 2 // Should be positioned next to the sidebar, on the right
  padding 1rem
  &:first-child {
    margin-top 0
  }
}
