/* Source Code Pro */
@font-face { 
  font-family Source Code Pro
  src url('/static/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf')format('truetype')
}

@font-face {
  font-family Source Code Pro
  src url('/static/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf')format('truetype')
}

/* Fira Code */
@font-face {
  font-family Fira Code
  src url('/static/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf')format('truetype')
  src url('/static/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
}

@font-face {
  font-family Fira Code
  src url('/static/fonts/Fira_Code/static/FiraCode-Bold.ttf')format('truetype')
  src url('/static/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
  font-weight bold
}

@font-face {
  font-family Fira Code
  src url('/static/fonts/Fira_Code/static/FiraCode-Light.ttf')format('truetype')
  src url('/static/fonts/Fira_Code/FiraCode-Light.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
  font-weight thin
}

@font-face {
  font-family Fira Code
  src url('/static/fonts/Fira_Code/static/FiraCode-Medium.ttf')format('truetype')
  src url('/static/fonts/Fira_Code/FiraCode-Medium.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
  font-weight medium
}

@font-face {
  font-family Fira Code
  src url('/static/fonts/Fira_Code/static/FiraCode-Regular.ttf')format('truetype')
  src url('/static/fonts/Fira_Code/FiraCode-Regular.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
  font-weight normal
}

@font-face {
  font-family Fira Code
  src url('/static/fonts/Fira_Code/static/FiraCode-SemiBold.ttf')format('truetype')
  src url('/static/fonts/Fira_Code/FiraCode-SemiBold.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
  font-weight 600
}

/* Fira Mono */
@font-face {
  font-family Fira Mono
  src url('/static/fonts/Fira_Mono/FiraMono-Regular.ttf')format('truetype')
  font-weight normal
}

@font-face {
  font-family Fira Mono
  src url('/static/fonts/Fira_Mono/FiraMono-Bold.ttf')format('truetype')
  font-weight bold
}

@font-face {
  font-family Fira Mono
  src url('/static/fonts/Fira_Mono/FiraMono-Medium.ttf')format('truetype')
  font-weight medium
}

/* Iosevka */
@font-face {
  font-family Iosevka
  src url('/static/fonts/Iosevka/iosevka-bold.ttf')format('truetype')
  src url('/static/fonts/Iosevka/iosevka-bold.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
  font-weight bold
}

@font-face {
  font-family Iosevka
  src url('/static/fonts/Iosevka/iosevka-bolditalic.ttf')format('truetype')
  src url('/static/fonts/Iosevka/iosevka-bolditalic.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
  font-style bold italic
}

@font-face {
  font-family Iosevka
  src url('/static/fonts/Iosevka/iosevka-italic.ttf')format('truetype')
  src url('/static/fonts/Iosevka/iosevka-italic.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
  font-style italic
}

@font-face {
  font-family Iosevka
  src url('/static/fonts/Iosevka/iosevka-light.ttf')format('truetype')
  src url('/static/fonts/Iosevka/iosevka-light.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
  font-weight thin
}

@font-face {
  font-family Iosevka
  src url('/static/fonts/Iosevka/iosevka-regular.ttf')format('truetype')
  src url('/static/fonts/Iosevka/iosevka-regular.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
  font-weight normal
}

/* FF Tisa Sans */
@font-face {
  font-family FF Tisa Sans
  src url('/static/fonts/FF_Tisa_Sans/TisaSansPro-Regular.ttf')format('truetype')
  src url('/static/fonts/Ropa_Sans/RopaSans-Regular.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
}

@font-face {
  font-family FF Tisa Sans
  src url('/static/fonts/FF_Tisa_Sans/TisaSansPro-Italic.ttf')format('truetype')
  src url('/static/fonts/FF_Tisa_Sans/TisaSansPro-Italic.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
}

@font-face {
  font-family FF Tisa Sans
  src url('/static/fonts/FF_Tisa_Sans/TisaSansPro-Light.ttf')format('truetype')
  src url('/static/fonts/Ropa_Sans/RopaSans-Light.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
}

@font-face {
  font-family FF Tisa Sans
  src url('/static/fonts/FF_Tisa_Sans/TisaSansPro-ExtraLightItalic.ttf')format('truetype')
  src url('/static/fonts/Ropa_Sans/RopaSans-ExtraLightItalic.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
}

@font-face {
  font-family FF Tisa Sans
  src url('/static/fonts/FF_Tisa_Sans/TisaSansPro-MediumItalic.ttf')format('truetype')
  src url('/static/fonts/Ropa_Sans/RopaSans-MediumItalic.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
}

/* Ropa Sans */
@font-face {
  font-family Ropa Sans
  src url('/static/fonts/Ropa_Sans/RopaSans-Regular.ttf')format('truetype')
  src url('/static/fonts/Ropa_Sans/RopaSans-Regular.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
  font-weight normal
}

@font-face {
  font-family Ropa Sans
  src url('/static/fonts/Ropa_Sans/RopaSans-Italic.ttf')format('truetype')
  src url('/static/fonts/Ropa_Sans/RopaSans-Italic.ttf?#iefix') format('embedded-opentype') /* IE6-IE8 */
  font-style italic
}