a
  links(rose)
  color rose
  font-family display_font
  text-decoration none
  -ease-transition(color)
  &:hover
    text-decoration underline
    color sky
  &[href]
  links(rose)
    &:visited
      color charcoal

