-table-value($exponent) 
  padding $exponent
  margin 1em / $exponent 0

-theme($accent)
  // color $accent
  border-color darken($accent, 0.2)

table
  margin 1.6em 0
  padding 0.4rem 2
  border-spacing 0.5rem
  border-collapse collapse
  td
    -table-value(1.2em)
    color white
    @media (prefers-color-scheme light)
      color charcoal
    for iter in (0..6)
      &:nth-child({iter})
        -theme(fogra29)
        // background hsl(iter * 2.5, iter * 6.6, 50%)
  tr
    padding 0.2em
    border-color grullo
    border-spacing 0.2rem
  th
    -table-value(0.2)
    border-color melon
    border-bottom 1.5px solid
    color melon
    font-style bold
    padding 0 1em 0.4em 0
  