h1
h2
h3
h4
h5
h6
p
  font-family 'Source Code Pro', sans-serif 
  margin 0.75rem 0
  font-weight 400

// Cute hack I found for scaling header tags programatically~
for i in (1..6)
  h{i}
    text_scale_size (7 - i)

small
  text_scale_size -1

a
  links(rose)
  color rose
  text-decoration none
  body.dark &
    color primary_color_dark
  &:hover
    text-decoration underline
    color sky
  &[href]
  links(rose)
    &:visited
      color charcoal

li
  line-height 1.2
  word-spacing 2px
  &:before
    content ' ⦿ '

p
  font-family text_font
  &:last-child
    margin-bottom 0

hr
  border-color rgba(245, 229, 229, 0.575)

p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}