h1
h2
h3
h4
h5
h6
p
li
td
tr
th
  font-family sans_font
  font-size text_scale_size(3)
  line-height 1.6
  letter-spacing .9
  margin .45rem auto .45rem 0
p
  margin .85rem 0
  line-height 1
  padding-top 4px
  padding-bottom 4px

// Cute hack we found for scaling header tags programatically~
for i in (1..6)
  h{i}
    text_scale_size (7 - i)
    font-family display_font

small
  text_scale_size(-1)

pre
  white-space wrap

time
  font-family mono_font
  font-weight 100

p>a
  links($accent)
  color $accent
  line-height 1.2
  word-spacing 2px
  text-decoration underline
  &:before
    color dimgray
    content '['
  &:after
    color dimgray
    content ']'

p>code
  border 1px grullo dashed
  font-style italic
  font-family display_font

strong
  font-weight 600
  text-decoration
  &:after
    content "º"
  &>*
    content none

// https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote
  -blockquote-theme()
  background #f9f9f9
  border-left 10px solid #ccc
  margin 1.5em 10px
  padding 0.5em 10px
  quotes "\201C""\201D""\2018""\2019"
  p
    font-style italic
    display inline
  &:before
    color #ccc
    content open-quote
    font-size 4em
    line-height 0.1em
    margin-right 0.25em
    vertical-align -0.4em

em
  font-style italic

ol>li
  list-style-type upper-roman
  list-style-position inside
  &>li
    list-style-type lower-roman
    &>li
      list-style-type lower-alpha
  &:before
    content none

hr
  display block
  border-top 1px solid rgba(245, 229, 229, 0.575)
  unicode-bidi isolate
  margin-block-start 0.5em
  margin-block-end 0.5em
  margin-inline-start auto
  margin-inline-end auto
  overflow hidden
  border-style inset
  border-width 1px
  margin 1em 0

p,
.tmpl-post li
  line-height: 1.45

small
  font-family display_font
  font-display small-caps
  line-height 1.2

details>summary
  display flex
  flex-direction row
  padding 2px 
  font-size 18px
  &span:before
    content "{"
  &span:after
    content "}"
  &span>cite
    font-size 16px
  &:before
    content " ᐳ "
    padding-right 8px 
    padding-top 8px 
    &[open]
      content "#"

details[open]
  &>summary:before
    content " ᐯ "

article>section>p
  font-family sans_font
  letter-spacing 1.6
  line-height 1.6
  >a
    &:before
      content "[["
    &:after
      content "]]"

::selection
  background midbluegreen
  
.glow
  -webkit-animation glow 1s ease-in-out infinite alternate
  -moz-animation glow 1s ease-in-out infinite alternate
  animation glow 1s ease-in-out infinite alternate

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}