---
title: Kaeforest
description: Blog & portfolio of our Kae.
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={{ page.url }}/>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <title>{{ title }}</title>
    {# All them metas. #}
    <meta name="description" content="{{ description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <meta property="og:title" content={{ title or renderData.title  }}/>
    <meta property="og:description" content={{ description or renderData.description }} />
    <meta property="og:url" content={{ page.url }} />
    <meta property="og:image" content="/static/img/sigil.gif" />
    <meta property="og:type" content="article" />
    {# Now for twitter. #}
    <meta name="twitter:title" content={{ title or renderData.title }}/>
    <meta name="twitter:description" content={{ description or renderData.description }}/>
    <meta name="twitter:image" content="/static/img/sigil.gif">
    <meta name="twitter:card" content="summary_large_image">

    {# Linking all our fonts locally bc Germany compliance. Also to prevent tracking users. #}
    <meta name="theme-color" content="#a04668"/>
    <link rel="stylesheet" href="/css/index.css"/>

    <title>{{ title }}</title>
    {# 
    Now for our stylsheets! As minified CSS!
    {% set css %}
    {% include '/css/index.styl' %}
    {% endset %}
    <style>
      {{css | postcss | safe}}
    </style>
    #}
  </head>

  {# load barba (UMD version) #}
  <script src="https://unpkg.com/@barba/core"></script>

  <script
    crossorigin="anonymous"
    src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"
  ></script>
  {# load gsap animation library (minified version) #}
  <script src="https://unpkg.com/gsap@latest/dist/gsap.min.js"></script>

  {# init barba with a simple opacity transition #}
  <script type="text/javascript">
    barba.init({
      transitions: [{
        name: 'opacity-transition',
        leave(data) {
          return gsap.to(data.current.container, {
            opacity: 0
          });
        },
        enter(data) {
          return gsap.from(data.next.container, {
            opacity: 0
          });
        }
      }]
    });
  </script>
  <body>
    {{ content | safe }}
  </body>
</html>