---
layout: layouts/base.njk
---

<main class="flex">
  {% include 'sidebar.njk' %}
  <main class="home">
    {{ content | safe }}
  </main>
</main>

<script src="node_modules/@barba/core"></script>
<script>
  barba.init({
      /* */
  });
</script>
