---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% include 'header.njk' %}
<main class="flex">
  <article>
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {%- endfor %}
    <section class="markdown_content">
      {{ content | markdown | safe }}
    </section>
  </article>
</main>
{% include 'footer.njk' %}
